*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 10px;
  font-family: "Roboto Cn", sans-serif;
}

body{
  overflow-x: hidden;
}

a{
  text-decoration: none;
  color: #eee;
}

.border{
  width: 100px;
  margin: auto;
  border-bottom: 5px solid #dc143c;
}

header{
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(0,0,0,.8),rgba(0,0,0,.5)), url("main.jpg") center no-repeat;
  background-size: cover;
}

.show-menu-btn,.hide-menu-btn{
  transition: 0.4s;
  font-size: 30px;
  cursor: pointer;
  display: none;
}

.show-menu-btn{
  float: right;
}

.show-menu-btn i{
  line-height: 100px;
}

#chk{
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}

.container{
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}

.nav{
  padding-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-size: 1.6rem;
}

.portfolio{
  font-size: 3rem;
  font-weight: 300;
  transform: translateX(-100rem);
  animation: slideIn .5s forwards;
}

.nav ul{
  display: flex;
}

.nav ul li{
  list-style: none;
  transform: translateX(100rem);
  animation: slideIn .5s forwards;
}

/*ナビドロワー*/
#nav-drawer {
  position: relative;
  transform: translate();
  display: none;
}
/*チェックボックス等は非表示に*/
.nav-unshown {
  display:none;
}
/*アイコンのスペース*/
#nav-open {
  display: inline-block;
  width: 30px;
  height: 22px;
  vertical-align: middle;
}
/*ハンバーガー*/
#nav-open span, #nav-open span:before, #nav-open span:after {
  position: absolute;
  height: 3px;/*線の太さ*/
  width: 25px;/*長さ*/
  border-radius: 3px;
  background: #555;
  display: block;
  content: '';
  cursor: pointer;
}
#nav-open span:before {
  bottom: -8px;
}
#nav-open span:after {
  bottom: -16px;
}
/*閉じる用の薄黒カバー*/
#nav-close {
  display: none;/*はじめは隠しておく*/
  position: fixed;
  z-index: 99;
  top: 0;/*全体に広がるように*/
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}
/*中身*/
#nav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;/*最前面に*/
  width: 50%;/*右側に隙間を作る（閉じるカバーを表示）*/
  max-width: 330px;/*最大幅（調整してください）*/
  height: 100%;
  background: #e6e6fa;/*背景色*/
  transition: .3s ease-in-out;/*滑らかに表示*/
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);/*左に隠しておく*/
}
/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
  display: block;/*カバーを表示*/
  opacity: .5;
}
#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);/*中身を表示（右へスライド）*/
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}

.nav ul li:nth-child(1){
  animation-delay: 0s;
}
.nav ul li:nth-child(2){
  animation-delay: .5s;
}
.nav ul li:nth-child(3){
  animation-delay: 1s;
}
.nav ul li:nth-child(4){
  animation-delay: 1.5s;
}

.nav ul li a{
  padding:  1rem 0;
  margin: 0 3rem;
  position: relative;
  letter-spacing: 2px;
}

.nav ul li a:last-child{
  margin-right: 0;
}

.nav ul li a::before,
.nav ul li a::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: crimson;
  left: 0;
  transform: scaleX(0);
  transition: all .5s;
}

.nav ul li a::before{
  top: 0;
  transform-origin: left;
}

.nav ul li a::after{
  bottom: 0;
  transform-origin: right;
}

.nav ul li a:hover::before,
.nav ul li a:hover::after{
  transform: scaleX(1);
}

@keyframes slideIn {
  from{

  }
  to{
    transform: translate(0);
  }
}

.main-border {
  text-align: center;
  margin-top: 25%;
  transform: translatey(-100rem);
  animation: slideIn 2s forwards;
}

.main-border h2 {
  position: relative;
  padding:0.5em 3em;
  display: inline-block;
  font-size: 30px;
  font-weight: normal;
  letter-spacing: 3px;
  color: #fff;
}

.main-border h2:before, .main-border h2:after {
  content:'';
  width: 20px;
  height: 30px;
  position: absolute;
  display: inline-block;
}

.main-border h2:before {
  border-left: solid 1px #ff5722;
  border-top: solid 1px #ff5722;
  top:0;
  left: 0;
}

.main-border h2:after {
  border-right: solid 1px #ff5722;
  border-bottom: solid 1px #ff5722;
  bottom:0;
  right: 0;
}

.main-border p{
  font-size: 20px;
  color: #cccccc;
}

.about{
  width: 100%;
  height: 75vh;
  background: #e6e6fa;
  }

.about-content{
  padding-top: 2.5rem;
  text-align: center;
}

.about-content h2{
  font-size: 50px;
}

.about-content i{
  font-size: 100px;
  padding-top: 2.5rem;
}

.about-text-flex{
  padding-top: 1.7rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about-text{
  flex: 1 0 350px;
  margin: 0.8em 20em;
  border-radius: 50px;
  border: 2px solid #000;
  transition: all .3s;
}
.about-text:hover{
  background: #fafafa;
  transform: scale(1.2);
}

.about-text h3{
  font-size: 25px;
}

.about-text p{
  font-size: 15px;
}

.about-text-l{
  margin: 0.8em 20em;
  flex: 1 0 350px;
  border-radius: 50px;
  border: 2px solid #000;
  transition: all .3s;
}
.about-text-l:hover{
  transform: scale(1.2);
  background: #fafafa;
}

.about-text-l h3{
  font-size: 25px;
}

.about-text-l p{
  font-size: 15px;
}

  @media screen and (max-width:880px) {
  }
  @media screen and (max-width:750px){

  }
  @media screen and (max-width:650px){
    .container ul{
      display: none;
    }
    #nav-drawer{
      display: block;
    }
    #nav-content{
      padding-top: 50%;
    }
    #nav-content ul li a{
      padding: 0;
      margin: 0;
      transform: translateX(0);
    }
    #nav-content ul{
      text-align: center;
      display: inline;
    }
    #nav-content li{
      line-height: 50px;
    }
    #nav-content a{
      color: #333333;
    }

    .main-border {
      margin-top: 50%;
    }
    .main-border h2 {
      font-size: 20px;
    }
    .main-border p{
      font-size: 13px;
    }
    .about-content i{
      font-size: 75px;
    }
    .about-content h2{
      font-size: 40px;
    }
    .about-text-l{

    }
  }

