@charset "UTF-8";

body{
  font-family: 'Nunito', sans-serif;
}

/*ボタンデザイン*/
.button{
  display: inline-block;
  line-height: 40px;
  width: 110px;
  height: 40px;
  background: #fff;
  border: 1px solid #000;
  cursor: pointer;
  transition: all 1s;
}
.button h4{
  font-size: 16px;
  transition: all 1s;
}
.button:hover{
  transform: scale(1.2);
}
.button:hover h4{
  letter-spacing: 6px;
}

/*ヘッダー*/
header{
  text-align: center;
  position: relative;
}


.header-top{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50vh;
  background: #ff9800;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1
}




.headText{
  position: relative;
  padding: 0 40px;
}




.headText::before, .headText::after {
  content:'';
  width: 30px;
  height: 30px;
  position: absolute;
  display: inline-block;
}




.headText::before{
  border-left: solid 3px #fff;
  border-top: solid 3px #fff;
  top:0;
  left: 0;
}




.headText::after{
  border-right: solid 3px #fff;
  border-bottom: solid 3px #fff;
  bottom:0;
  right: 0;
}




.headText h1{
  font-size: 70px;
  padding: 25px 0;
}




.header-bottom{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50vh;
  background: #235180;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}




.header-bottom ul{
  display: flex;
}


.header-bottom  a{
  margin: 40px;
  padding: 20px;
  border: 2px solid #fff;
  font-size: 20px;
  color: #fff;
  transition: all 1s;
}

.header-bottom a:hover{
  background: #ff9800;
  color: #235180;
  text-shadow: 10px 10px 3px #e00364;
  box-shadow: 10px 10px 3px #e00364;
}

/*各コンテンツデザイン*/
.main{
  width: 100%;
  height: 100vh;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background: #fff;
}

.contents h2{
  font-size: 80px;
}

.contents{
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.background1{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(toy1.jpg);
  background-size: cover;
  opacity: .5;
  z-index: -9999;
}
.background2{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(toy2.jpg);
  background-size: cover;
  opacity: .5;
  z-index: -9999;
}
.background3{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(toy3.jpg);
  background-size: cover;
  opacity: .5;
  z-index: -9999;
}

.copy{
  text-align: center;
}

.copy h3{
  font-size: 50px;
  margin-bottom: 10px;
}

.copy p{
  font-size: 30px;
  margin-bottom: 20px;
}

.fa-times{
  position: absolute;
  top: 5%;
  left: 50%;
  font-size:  50px;
  color: #fff;
  cursor: pointer;
  transition: all 1s;
}
.fa-times:hover{
  color: #000;
  transform: rotate(180deg);
}

.main-contents1{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ff9800;
  z-index: 9999;
  transition: all 2s;
  transform: translateX(-105%);
  opacity: 0;
}

.copy-title{
  padding-bottom: 5%;
  margin-bottom: 10%;
  color: #fff;
  position: relative;
}

.copy-title::after{
  content: "";
  position: absolute;
  top: 100%;
  left: 25%;
  width: 50%;
  height: 2px;
  background: #fff;
}

.contents-copy p{
  color: #fff;

}

.copy #toggle1:checked ~ .main-contents1{
  transform: translateX(0);
  opacity: 1;
}

.main-contents2{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #235180;
  z-index: 9999;
  transition: all 2s;
  transform: translateX(-105%);
  opacity: 0;
}

.copy #toggle2:checked ~ .main-contents2{
  transform: translateX(0);
  opacity: 1;
}

.main-contents3{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ff9800;
  z-index: 9999;
  transition: all 2s;
  transform: translateX(-105%);
  opacity: 0;
}

.copy #toggle3:checked ~ .main-contents3{
  transform: translateX(0);
  opacity: 1;
}

.contents-d{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.contents-d h2{
  font-size: 80px;
}

/*フッター*/
footer{
  width: 100%;
  height: 100%;
  position: relative;
}


.footer-top{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 90vh;
  background: #235180;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1
}


.footer-copy{
  text-align: center;
}


.footer-copy h2{
  color: #fff;
  font-size: 40px;
}

.footer-copy p{
  color: #fff;
  font-size: 20px;
  line-height: 40px;
}


.footer-top ul{
  display: flex;
}




.footer-top  a{
  margin: 40px;
  padding: 20px 40px;
  border: 2px solid #fff;
  font-size: 20px;
  color: #fff;
  transition: all 1s;
}


.footer-top a:hover{
  background: #ff9800;
  color: #235180;
  text-shadow: 10px 10px 3px #e00364;
  box-shadow: 10px 10px 3px #e00364
}


.footer-bottom{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10vh;
  background: #ff9800;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1
}


/*バブルアニメーション*/
.bubbles{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  top: 0;
  left: 0;
}


.bubble1{
  position: absolute;
  bottom: 0;
  width: 40px;
  height: 40px;
  background: #f1f1f1;
  border-radius: 50%;
  opacity: .5;
  animation: flying 10s infinite ease-in;
}
.bubble2{
  position: absolute;
  bottom: 0;
  width: 40px;
  height: 40px;
  background: #f1f1f1;
  border-radius: 50%;
  opacity: .5;
  animation: flying 10s infinite ease-in;
}
/*バブル１*/
.bubble1:nth-child(1){
  width: 40px;
  height: 40px;
  left: 10%;
  animation-duration: 8s;
}
.bubble1:nth-child(2){
  width: 20px;
  height: 20px;
  left: 20%;
  animation-duration: 5s;
  animation-delay: 1s;
}
.bubble1:nth-child(3){
  width: 50px;
  height: 50px;
  left: 35%;
  animation-duration: 10s;
  animation-delay: 2s;
}
.bubble1:nth-child(4){
  width: 80px;
  height: 80px;
  left: 50%;
  animation-duration: 7s;
  animation-delay: 0s;
}
.bubble1:nth-child(5){
  width: 35px;
  height: 35px;
  left: 55%;
  animation-duration: 6s;
  animation-delay: 1s;
}
.bubble1:nth-child(6){
  width: 25px;
  height: 25px;
  left: 75%;
  animation-duration: 8s;
  animation-delay: 2s;
}
.bubble1:nth-child(8){
  width: 80px;
  height: 80px;
  left: 80%;
  animation-duration: 6s;
  animation-delay: 1s;
}
.bubble1:nth-child(8){
  width: 40px;
  height: 40px;
  left: 85%;
  animation-duration: 9s;
  animation-delay: 0s;
}
.bubble1:nth-child(9){
  width: 15px;
  height: 15px;
  left: 75%;
  animation-duration: 9s;
  animation-delay: 0s;
}
.bubble1:nth-child(10){
  width: 50px;
  height: 50px;
  left: 90%;
  animation-duration: 5s;
  animation-delay: 3s;
}


/*バブル2*/
.bubble2:nth-child(1){
  width: 40px;
  height: 40px;
  left: 12%;
  animation-duration: 8s;
}
.bubble2:nth-child(2){
  width: 20px;
  height: 20px;
  left: 27%;
  animation-duration: 5s;
  animation-delay: 2s;
}
.bubble2:nth-child(3){
  width: 50px;
  height: 50px;
  left: 85%;
  animation-duration: 10s;
  animation-delay: 1s;
}
.bubble2:nth-child(4){
  width: 80px;
  height: 80px;
  left: 30%;
  animation-duration: 7s;
  animation-delay: 0s;
}
.bubble:nth-child(5){
  width: 35px;
  height: 35px;
  left: 55%;
  animation-duration: 6s;
  animation-delay: 2s;
}
.bubble2:nth-child(6){
  width: 30px;
  height: 30px;
  left: 73%;
  animation-duration: 8s;
  animation-delay: 0s;
}
.bubble2:nth-child(8){
  width: 50px;
  height: 50px;
  left: 87%;
  animation-duration: 6s;
  animation-delay: 1s;
}
.bubble2:nth-child(8){
  width: 20px;
  height: 20px;
  left: 89%;
  animation-duration: 9s;
  animation-delay: 0s;
}
.bubble2:nth-child(9){
  width: 65px;
  height: 65px;
  left: 90%;
  animation-duration: 9s;
  animation-delay: 0s;
}
.bubble2:nth-child(10){
  width: 30px;
  height: 30px;
  left: 93%;
  animation-duration: 5s;
  animation-delay: 3s;
}
@keyframes flying {
    0%{
      bottom: -100px;
      transform: translateX(0);
    }
    50%{
      transform: translateX(100px);
    }
    100%{
      bottom: 1080px;
      transform: translateX(-200px);
    }
}
